html, body
{
    height: 100%;
    margin: 0;
}

body {
  background-image:url('../img/bg.jpg');
  background-size:cover;
  overflow:auto;
  font-size:14px;
}

a.link, a.link:hover, a.link:visited, a.link:link {
  color:#fff;
  cursor: pointer;
  outline:none;
  text-decoration:underline !important;
}

.get-api-info
{
  font-size:12px;
}

.btn
{
  background-color: #00B285;
  border-color: #00B285;
}

.modal
{
  top:20%;
}

.modal-body, .api-input
{
  text-align:center;
}

.overwrite
{
    position: fixed;
    bottom:40px;
    text-align: center;
    width:100%;
    color:#fff;
}

.alert
{
  display:none;
  position: fixed;
  bottom: 5px;
  left:2%;
  width: 96%;
  z-index: 9999;
}

.file-process
{
  position: fixed;
  width:84%;
  height:155px;
  left:8%;
  top:330px;
  overflow:hidden;
}

.file
{
  color:#cfecef;
  line-height:25px;
}

.file:after
{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.file .name
{
  float:left;
}

.file .status {
  margin-left:5px;
}

.file .status, .file .size
{
  float:right;
  margin-left: 5px;
}

.strike
{
  text-decoration: line-through;
  opacity: .6;
}

footer
{
  position:absolute;
  color: #fff;
  bottom:10px;
  width:100%;
  text-align: center;
  line-height: 20px;
  font-size:11px;
  font-weight: normal;
  opacity: 0.8;

}
